<% if current_user && current_user[:admin]  %>
  <%= link_to "New Post", new_post_path, class: "btn btn-primary btn-lg"%>
<% end %>
<% @posts.each do |post| %>
	<h2> <%= link_to post.title, post %> </h2>
	<p> <%= post.content.html_safe %> </p>
  <small> <%= link_to "#{post.comments.count} Comments", post %> </small>
  <% if current_user && current_user[:admin]  %>
  	| <%= link_to "Edit", edit_post_path(post) %> |
  	<%= link_to "Delete", post, data: {confirm: "Are you sure you want to delete this post?"}, method: :delete %>
  <% end %>
	<hr>
<% end %>

<%= will_paginate @posts %>
